export(input_livsim,
	   output1,
	   define_diet,
	   livsim,
	   define_Cow_new,
	   cow_dead,
	   define_Cow_new,
	   cow_replaced,
	   update_herd,
	   output,
	   output_new,
	   save_outputCows,
	   unload_LivSim)